RewriteEngine On

# If the request is for a real file or directory, do nothing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Try rewriting to .php
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^([a-zA-Z0-9_-]+)/?$ $1.php [L]

# Otherwise, try rewriting to .html
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^([a-zA-Z0-9_-]+)/?$ $1.html [L]
